[Unit]
Description=StatDeck Frontend
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/StatDeck/frontend
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=always

[Install]
WantedBy=multi-user.target
