[Unit]
Description=StatDeck Backend
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/StatDeck/backend
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
